{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

{% block extra_css %}

<link href="{% static 'css/main_schoolia.css' %}" rel="stylesheet">

{% endblock %}


<div class="container my-5">
    <section>
        <div class="col-md-12 mb-5">
            <p class="h1 text-center text-secondary">
                {% trans "Schoolia academy" %}
            </p>
            <div class="d-flex justify-content-center">

            </div>
        </div>
    </section>
</div>

<header class="hero-section">
    <div class="container ">
        <h1>
            {% trans "Welcome to Schoolia academy for online courses" %}
        </h1>
        <p>
            {% trans "Learn, write and read more ... Science, Math, Programming and more" %}
        </p>
    </div>
</header>

<section class="content-section">
    {% for course in courses %}
    <div class="container">
        <div class="paragraph-card">
            <h2>{{ course.name }}</h2>


            <div class="col-md-3 text-center d-none d-lg-block" >
                <div class="image-wrapper-full">
                    {% if course.image %}
                    <img src="{{ course.image }}"
                        alt="..." 
                        class="img-fluid rounded slider-image-full">
                    {% else %}
                    <img src="#"
                        alt="..." 
                        class="img-fluid rounded slider-image-full">
                    {% endif %}
                </div>
            </div>

            <p>
                {{ course }}
            </p>
            <br>
            <p>
                {{ course.description }}
            </p>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock content %}